* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form .form-group {
  margin-bottom: 10px;
}

form .form-group label {
  display: block;
  margin-bottom: 5px;
}

form .form-group input {
  padding: 5px;
}

button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
}